@media screen 
  and (min-width: 1920px) { 
  html {
    font-size: 9px;
  }
}

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1919px) {
  html {
    font-size: 8px;
  }
}

@media screen 
  and (min-width: 900px) 
  and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

@media screen 
  and (min-width: 600px) 
  and (max-width: 899px) {
  html {
    font-size: 6px;
  }
}

@media screen 
  and (min-width: 320px) 
  and (max-width: 599px) {
  html {
    font-size: 5px;
  }
}

/* 
html {
  font-size: 10px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* background: #00050D; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear {
  clear: both;
}

.none-list-style {
  list-style: none;
  margin-left: -4.5rem;
}

#root {
  /* max-width: 1330px; */
  margin: 0 auto;
}
